<%- include ../header %>

<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
		<div class="row">
			<div class="col-xs-4 col-sm-4">
			<div class="panel panel-success">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-xs-4 col-sm-4">
			<div class="panel panel-success">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-xs-4 col-sm-4">
			<div class="panel panel-success">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		</div>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <%- include menu %>          
        </div><!--/span-->
      </div><!--/row-->
<%- include ../footer %>
