<%- include ../header %>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="/community">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		</div>

		<div class="row">
			<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		</div>

		<div class="row">
			<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		<div class="col-md-3">
			<div class="panel panel-default">
  				<div class="panel-body text-center">
    				<a href="#">Inteligencia Artificial</a>
  				</div>
			</div>
		</div>	
		</div>
	</div>
</div>
<%- include ../footer %>