<%- include ../header %>
<div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
 		<table class="table table-bordered">
	<thead>
		<tr>
			<td>Disciplina</td>
			<td>1ยบ Sem. Nota</td>
			<td>1ยบ Sem. Falta</td>
			<td>2ยบ Sem. Nota</td>
			<td>2ยบ Sem. Falta</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <%- include menu %>          
        </div><!--/span-->
      </div><!--/row-->
<%- include ../footer %>