<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Moodle Nodejs</title>
</head>
<body>
<h1>Moodle 3.0</h1>
<h3>Bem Vindo</h3>
<form method="post" action="/login">
<input type="text" name="email">
<input type="password" name="password">
<button>Entrar</button>
</form>
</body>
</html>		