<%- include ../header %>

<div class="row">
	<div class="col-md-12">
		<a href="/admin/opportunity/new" class="btn btn-info">Cadastrar Oportunidade</a>
	</div>
</div>
<br />
<div class="row">
	<div class="col-xs-12 col-md-12 col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>ID</td>
					<td>Curso</td>
					<td>Descrição</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>
						<a href="/admin/opportunity/profile">Engenharia Civil</a>
					</td>
					<td>Estágio de Engenheiro Civil</td>
					<td><span class="label label-success">Ok</span></td>
					<td>
						<a href="#" class="btn">Editar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<%- include ../footer %>