          <div class="list-group">
            <a href="/user/community" class="list-group-item">Comunidades</a>
            <a href="/user/doc" class="list-group-item">Documentos</a>
            <a href="/user/notas" class="list-group-item">Faltas e Notas</a>
            <a href="/user/oportunity" class="list-group-item">Oportunidades</a>
          </div>